<body>
    <form action="/postName"  method="post">
        <label for="team_name">Enter name: </label>
        <input id="team_name" type="text" name="name_field" value="Enter name.">
        <input type="submit" value="OK">
    </form>
</body>
</html>